a.nav-link {
  font-family: "Montserrat", serif;
}

.video-background {
  position: relative;
  width: 100%;
  height: 51vh;
  overflow: hidden;
}

.video-background iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 56.25vw;
  /* Ratio 16:9 */
  min-height: 100vh;
  min-width: 177.77vh;
  /* Ratio 16:9 */
  transform: translate(-50%, -50%);
  pointer-events: none;
  /* Empêche l'interaction avec la vidéo */
}

.video-foreground {
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 2;
}

.video-foreground h2 {
  font-size: 3rem;
  font-family: "Anton", serif;
  margin: 0;
}

.video-foreground h3 {
  font-size: 1rem;
  font-weight: 100;
  font-family: "Montserrat", serif;
  letter-spacing: 0.4em;
  margin-bottom: 30px;
}

.btn-watch {
  background: transparent;
  border: 2px solid white;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: "Montserrat", serif;
  color: white;
  border-radius: 0px;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn-shop,
a.seated-event-link,
.btn-more {
  background: transparent;
  border: 2px solid #141b21;
  font-weight: bold;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-family: "Montserrat", serif;
  color: #141b21;
  border-radius: 0px;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

a.seated-event-link:hover {
  background: transparent;
  border: 2px solid white;
  font-weight: bold;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-family: "Montserrat", serif;
  color: white;
  border-radius: 0px;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn-watch:hover {
  background-color: white;
  color: #141b21
}

span.material-icons {
  vertical-align: middle;
}

section#music {
  background-color: #5aa49e;
}

section#tourdates,
section#footer {
  background-color: #46bcd8;
}

section#contact,
section#video,
.sidebar {
  background-color: #ecc91d;
}

#music h2,
#tourdates h2,
#contact h2,
#video h2 {
  font-family: "Montserrat", serif;
  font-weight: bold;
  color: #141b21;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 30px;
}

#contact h3 {
  font-size: 1rem;
  font-weight: 100;
  font-family: "Montserrat", serif;
  letter-spacing: 0.4em;
}

a.btn-social {
  border-radius: 60px;
}

iframe.video {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

/* Sidebar cachée (hors écran) */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100vh;
  padding: 20px;
  transition: left 0.3s ease-in-out;
  /* Animation du slide-in */
}

/* Quand la sidebar est ouverte */
.sidebar.active {
  left: 0;
  z-index: 1001;
}

#menu-toggle {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
}

/* Bouton de fermeture */
.btn-close {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Style des liens */
.sidebar .nav-link {
  color: #141b21;
}

.sidebar .nav-link:hover {
  color: #46bcd8;
}

/* Ajoute un effet "flouté" à l'arrière-plan quand le menu est ouvert */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

/* Quand le menu est ouvert, l'overlay s'affiche */
.overlay.active {
  display: block;
}